.footer {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.footer p {
    margin: 3rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    text-align: left;
}


.footer li{
    margin: 0.5rem;
    margin-right: 14rem;
    list-style-type: none;
    text-align: left;
}

.contact {
    margin-bottom: 2.2rem;
    text-align: left;
}


.listFooterItems{
    height: 12rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.listFooterItems li a, .footer a {
    
    margin: 1rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
 
}

@media only screen and (max-width: 767px) {
   .footer {
    max-width: calc(100% - 3rem);
    padding-left: 0;
   }

   .listFooterItems{
    height: 19rem;
   }

   .footer li {
    margin-right: 0;
   }
  }
  