.parentContainer {
  
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.itemContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.itemContainer img {
  height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  z-index: 1;
}

.movieName {
  margin-top: 0.3rem;
  height: 15%;
  color: rgb(229, 229, 229);
  
  font-size: 1rem;
}

.addToList{
  border: 3px solid green
}