.parentContainer {
  margin-right: 1rem;
  position: relative;
  display: flex;
  margin-top: 1rem;
  margin-left: 0.3rem;
  flex-direction: column;
  background-color: #141414;
}

.expandContainer { 
  box-shadow: 2px 3px 10px whitesmoke;
  border-radius: 0.4rem;
}


.itemContainer {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.itemContainer img {
  height: 100%;
  width: 100%;

}

.movieName {
  margin-top: 0.3rem;
  height: 15%;
  color: rgb(229, 229, 229);
  font-size: 1rem;
}

.doMoreContainer {
  display: flex;
  margin-top: 0.4rem;
  height: 3rem;
  position: relative;
}


.doMoreContainer div:hover::after {
  width: max-content;
  color: #141414;
  position: absolute;
  top: 100%;
  left: -1rem;
  padding: 1px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.option{
  width: 2.5rem;
  height: 2.5rem;
  background-color: #141414;
  padding-left: 2%;
  padding-top: 1.3%;
  border: 2px solid rgb(128, 128, 128);;
  border-radius: 50%;
  margin: 0 0.3rem;
}


.playMovie {
  background-color: whitesmoke;
  border-color: whitesmoke;
}


.playMovie:hover::after {
  content: "Play";
}

.toggleMyList {
  position: relative;

}


.toggleMyList:hover::after {
  content: "Add To List";
}


.toggleMyList.addedToList:hover::after {
  content: "Added To List";
}

.toggleMyList.addedToFav:hover::after {
  content: "Added To Favorites";
}



.favorite {
   position: absolute;
   right: 0;
   padding-left: 1.7%;
   z-index: 2;
   width: 2rem;
   height: 2rem;
   top: 0.4rem;
}

.favorite:hover::after {
  content: "Add To Favorites";
}