.featureContainer {
  height: 42rem;
  width: 100%;
  background-size: cover;

}

.featureDetails {
  position: relative;
  top: 65%;
  width: 100%;
  line-height: 1.5rem;
  padding-left: 3.5rem;
  font-weight: inherit;
  font-style: oblique;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;  
  text-shadow: 3px 3px 4px #e50914;
}

.text {
  width: 50%;
}

.buttons button {
  height: 2.5rem;
  width: 8rem;
  margin-right: 0.6rem;
  margin-top: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border-color: transparent;
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgb(177, 171, 171);
}

.moreInfo {
  background-color: grey;
  color: white;
}

.featureRating {
  height: 30%;
  width: 23%;
  border: 3px solid black;
  position: relative;
  left: 40rem;
}

.featureRating img {

    height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .featureContainer {
    background-position: left 70%;
  }

  .featureDetails {
    padding-left: 1rem;
  }

  .title {
    font-size: 1.7rem;
  }
}
